<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667846412743-pm4f9o9crgctm3d2qdq3jj1r8e61vi07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667846412743-pm4f9o9crgctm3d2qdq3jj1r8e61vi07</string>
	<key>API_KEY</key>
	<string>AIzaSyDgiJu29PK02sMxhu7UJfgEXFxtb3fNVJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>667846412743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventsy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eventsy-f9d80</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsy-f9d80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667846412743:ios:a6b71e6d3a03d601bbb1e2</string>
</dict>
</plist>